{% extends "base.html" %}
{% load staticfiles %}
{% block "centerbody" %}
<div class="panel panel-warning pos">
    <div class="panel-heading"><b>ABOUT US</b></div>
    <div class="panel-body">
        <p> Global Interiors is a full-service residential interior design and build firm, founded by Amit Shadija in 2013 at Ahmednagar city.</p>
        <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Through his years of experience, Amit has developed a unique style of mixing old with new and giving each project a timeless feel.</p>
        <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Seamlessly juxtaposing limestone, marble, earthy woods, textured fabrics and organic colors with materials such as metal and glass is what gives Amit's work a striking and harmonious feel.</p>
        <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Global Interiors' philosophy is to create inviting and elegant interiors straying from trends that will only disappoint in years to come. </p>
        <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Our design approach is to Architecturally space plan every square inch of a room to work both aesthetically and functionally. Each project is tailored specifically to each client, as Amit pays special attention to every detail that goes into project.</p> 
        <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Global Interiors Design is committed to using sustainable materials, wherever possible.</p>
    </div>
</div>
{% endblock %}
