{% include "base.html" %}
{% load staticfiles %}
<div class="row">
    <div class="col-xs-12" style="padding-top:5%">
        <div class="col-xs-1">
        </div>
        <div class="col-xs-10">
            <div class="panel panel-warning">
                <div class="panel-heading"><b>ABOUT US</b></div>
                <div class="panel-body">
                    <p> Global Interiors is a full-service residential interior design and build firm, founded by Amit Shadija in 2013 at Ahmednagar city.</p>
                    <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Through his years of experience, Amit has developed a unique style of mixing old with new and giving each project a timeless feel.</p>
                    <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Seamlessly juxtaposing limestone, marble, earthy woods, textured fabrics and organic colors with materials such as metal and glass is what gives Amit's work a striking and harmonious feel.</p>
                    <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Global Interiors' philosophy is to create inviting and elegant interiors straying from trends that will only disappoint in years to come. </p>
                    <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Our design approach is to Architecturally space plan every square inch of a room to work both aesthetically and functionally. Each project is tailored specifically to each client, as Amit pays special attention to every detail that goes into project.</p> 
                    <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Global Interiors Design is committed to using sustainable materials, wherever possible.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-1">
        </div>
    </div>
</div>
<div class="panel panel-warning col-xs-12">
    <div class="panel-footer foot_text"> &copy; 2015 Global Interiors</div>
</div>
