{% extends "base.html" %}
{% load staticfiles %}
{% block "centerbody" %}
<div class="panel panel-warning pos">
    <div class="panel-heading"><b>ABOUT US</b></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><b>WHAT WE DO?</b></div>
            <div class="panel-body">
                <p>We believe we are one of the most creative and effective interior designer in Ahmednagar City.</p>
                <p>Global Interiors specialize in providing extremely excellent interior design services that combine creative space planning, designing and vastu consultancy for both residential and elegant commercial projects anywhere across India and primarily in Maharashtra. Global Interiors is a professional interior designer, you can screen our work all around Maharashtra.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>OUR TEAM</b></div>
            <div class="panel-body">
                <p>Our People come from a variety of backgrounds, cultures and places, from seasoned professionals to emerging talents, We are united by a singular passion to give unique touch to design.</p>
                <p>Global Interiors teams are extremely creative and high experienced to assure your satisfaction that’s why our team will lead our project from the planning stage to the reality and they will be your own team for each project you have.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>WHY Global Interiors?</b></div>
            <div class="panel-body">
                <p>There are a number of reasons why clients have chosen Global Interiors. These are our:</p>
                <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Professionalism – from setting appointments to handling projects, clients can expect us to maintain a high level of professionalism in everything we do. </p>
                <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Personalized approach – we take the time to understand what clients want from a design perspective and their unique characteristics. These allow us to create designs that suit their taste and personality. </p>
                <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Accuracy in detailing – we measure once, so we never have to cut twice. This saves our clients time and money. We do this by making every effort to ensure that our work is impeccable down to the last detail.</p>
                <p class="cont well"><span class="glyphicon glyphicon-hand-right"></span> Practicality – designing interiors is more than just focusing on aesthetics. We also make sure that each part has a practical purpose and that everything fits within the client’s specifications and budget.</p>
                <p>We believe that every client has unique requirements and taste we have designed our teams to serve all kind of requirements and taste.</p>
                <p>We motivate our employees to have excellent teams to serve you. Our professional teams will be providing many different design styles and endless ideas to fufill your satifaction and make your dream come true. You will encounter high quality achievements from the moment we start planning your project until the moment you walk into your completed project.</p>
                <p><b><span class="color">We are inviting you to have a unqiue designing experience with us.</span></b></p><br/>
                <p><b><span class="cont well">Ready to work with Global Interiors? It’s easy to get started. Please visit our <a href="/contactus">contact page</a> for more details.</span></b></p>
            </div>
        </div>
    </div>
</div>
<div class="row welcome-height">
    <span class="cont_title"><i class="glyphicon glyphicon-earphone"></i> &nbsp;+91 8805079719 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="cont_title"><i class="glyphicon glyphicon-envelope"></i> &nbsp;globalinteriors14@gmail.com</span>
    <div class="img">
</div>
{% endblock %}
