<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Global Interiors</title>
<link rel="stylesheet" type="text/css" href="/static/css/gi.css" media="screen" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Image Viewer -->
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="/static/js/bootstrap-image-gallery.min.css">
</head>
<body class="gi_bg">
<div class="container ">
    {% block "navbar" %}
        <div class="col-md-2">
            <a class="navbar-brand" href="/home">
                <img class="logo_pos" alt="Global Interiors" src="{% static "images/gi_logo_cropped.jpg"%}">
            </a>
        </div>
        <div class="nav navbar-inverse nav-bg-color">
            <div class="col-md-2 center">
                <li role="presentation" class="{{selected}}"><a class="color" href="/home"><i class="glyphicon glyphicon-home"></i> HOME </a></li>
            </div>
            <div class="col-md-2 center">
                <li role="presentation" class="{{about}}"><a class="color" href="/aboutus"><i class="glyphicon glyphicon-info-sign"></i> ABOUT US </a></li>
            </div>
            <div class="col-md-2 center">
                <li class="{{services}} dropdown drop-cursor"><a class="color dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-star-empty"></i> SERVICES </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/services" class="center"><i class="glyphicon glyphicon-tree-deciduous"></i> Residential Projects </a></li>
                    <li><a role="presentation" href="/services" class="center"><i class="glyphicon glyphicon-tower"></i> Commercial Projects </a></li>
                </ul>
                </li>
            </div>
            <div class="col-md-2 center">
                <li role="presentation" class="{{clients}}"><a class="color" href="/clients"><i class="glyphicon glyphicon-list-alt"></i> CLIENTS </a></li>
            </div>
            <div class="col-md-2 center">
                <li role="presentation" class="{{contact}}"><a class="color" href="/contactus"><i class="glyphicon glyphicon-phone-alt"></i> CONTACT US </a></li>
            </div>
        </div>
    {% endblock %}
    <div class="row">
        <div class="col-md-12 center-height">
            {% block "centerbody" %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% block "footer" %}
            <div>
                <nav class="navbar navbar-inverse navbar-fixed-bottom">
                <span class="foot_text navbar-text navbar-right"> &copy; 2015 Global Interiors</span>
            </nav>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$('.carousel').carousel({
interval: 3000
})
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.min.js"></script>
</body>
</html>
