{% extends "base.html" %}
{% load staticfiles %}
{% block "centerbody" %}
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default pos">
    <div class="panel-heading">RESIDENTIAL PROJECTS</div>
    <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">Mr Wadhwani (Ahmednagar City)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-3 img-pos" id="links" >
                            <a href="{% static "images/wadhwani/1.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                                <img src="{% static "images/wadhwani/1.jpg"%}" alt="img1">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/2.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                                <img src="{% static "images/wadhwani/2.jpg"%}" alt="img2">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/3.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/3.jpg"%}" alt="img3">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/4.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/4.jpg"%}" alt="img4">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/5.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/5.jpg"%}" alt="img5">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/6.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/6.jpg"%}" alt="img6">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Mr Santosh Zarkar (Jamkhed)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/1.jpg"%}" class="thumbnail" title="Bed Room" data-gallery> 
                            <img src="{% static "images/zarkar/1.jpg"%}" alt="img4">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/2.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                            <img src="{% static "images/zarkar/2.jpg"%}" alt="img5">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/3.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/3.jpg"%}" alt="img6">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/4.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/4.jpg"%}" alt="img6">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/5.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/5.jpg"%}" alt="img6">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/6.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/6.jpg"%}" alt="img6">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Mr Saraf (Ahmednagar City)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/saraf/1.jpg"%}" class="thumbnail" title="Bed Room" data-gallery> 
                            <img src="{% static "images/saraf/1.jpg"%}" alt="img4">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/saraf/2.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                            <img src="{% static "images/saraf/2.jpg"%}" alt="img5">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/saraf/3.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/saraf/3.jpg"%}" alt="img6">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-warning pos">
    <div class="panel-heading"><b>CLIENTS</b></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Ahmednagar City</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Dr. Daman Kasid</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Nandu Poptani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Raju Kukreja</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Jitendra Gandhi</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Geet Bhutani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Birzu Hazari</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Mithun Kumar</span></pre>
                </div>
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Mahesh Wadhwani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Ajay Shadija</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Ankit Bhutani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Gossddip Collection Shop</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Hiru Khubchandani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Jivat Hiranandani</span></pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Jhamkhed</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Dr. Sasane</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Manish Tinya</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Santosh Pandit (Residentails, Commercial)</span></pre>
                </div>
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Santosh Zarkar (Residentails, Commercial)</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Shivam Stores Shop</span></pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Jalna City</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Girdhar Ladhani (Residentails, Commercial)</span></pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Pune City</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Vijay Jsingani</span></pre>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row welcome-height">
    <hr>
    <span class="cont_title"><i class="glyphicon glyphicon-earphone"></i> &nbsp;+91 8805079719 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="cont_title"><i class="glyphicon glyphicon-envelope"></i> &nbsp;globalinteriors14@gmail.com</span>
    <hr>
    <div class="img">
</div>
{% endblock %}
