{% extends "base.html" %}
{% load staticfiles %}
{% block "centerbody" %}
<div class="panel panel-warning pos">
    <div class="panel-heading"><b>CLIENTS</b></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><b>Ahmednagar City</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Dr. Daman Kasid</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Nandu Poptani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Raju Kukreja</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Jitendra Gandhi</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Geet Bhutani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Birzu Hazari</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Mithun Kumar</span></pre>
                </div>
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Mahesh Wadhwani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Ajay Shadija</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Ankit Bhutani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Gossddip Collection Shop</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Hiru Khubchandani</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Jivat Hiranandani</span></pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Jhamkhed</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Dr. Sasane</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Manish Tinya</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Santosh Pandit (Residentails, Commercial)</span></pre>
                </div>
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Santosh Zarkar (Residentails, Commercial)</span></pre>
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Shivam Stores Shop</span></pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Jalna City</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Girdhar Ladhani (Residentails, Commercial)</span></pre>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>Pune City</b></div>
            <div class="panel-body">
                <div class="col-md-6">
                    <pre><i class="glyphicon glyphicon-thumbs-up color"></i><span class="font"> Mr. Vijay Jsingani</span></pre>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
