{% include "base.html" %}
{% load staticfiles %}
<div class="row">
    <div class="col-xs-12" style="padding-top:5%">
        <div class="col-xs-3">
        </div>
        <div class="col-xs-6">
            <div class="panel panel-warning">
                <div class="panel-heading"><b>CONTACT US</b></div>
                <div class="panel-body">
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <span class="cont_title">PHONE</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="cont">+91 88 050 79719</span>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div class="col-xs-12">
                            <span class="cont_title">EMAIL</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="cont">globalinteriors14@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-12">
                            <span class="cont_title">ADDRESS</span>
                        </div>
                        <div class="col-xs-12">
                            <span class="cont">5, Kohinoor Garden, Ambedkar Road, Near Maliwada, Ahmednagar, Maharashtra. INDIA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3">
        </div>
    </div>
</div>
<div class="panel panel-warning col-xs-12 footer_contact">
    <div class="panel-footer foot_text"> &copy; 2015 Global Interiors</div>
</div>
