{% extends "base.html" %}
{% load staticfiles %}
{% block "centerbody" %}
<div class="row">
    <div class="col-md-12" style="padding-top:5%">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading"><b>CONTACT US</b></div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <span class="cont_title"><i class="glyphicon glyphicon-earphone"></i> PHONE</span>
                        </div>
                        <div class="col-md-12">
                            <span class="cont">+91 88 050 79719</span>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <div class="col-md-12">
                            <span class="cont_title"><i class="glyphicon glyphicon-envelope"></i> EMAIL</span>
                        </div>
                        <div class="col-md-12">
                            <span class="cont">globalinteriors14@gmail.com</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12">
                            <span class="cont_title"><i class="glyphicon glyphicon-flag"></i> ADDRESS</span>
                        </div>
                        <div class="col-md-12">
                            <span class="cont">Global Interiors <br>5, Kohinoor Garden, Ambedkar Road, Near Maliwada, Ahmednagar, Maharashtra. INDIA</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
{% endblock %}
