{% extends "base.html" %}
{% load staticfiles %}
{% block "centerbody" %}
{% comment %}
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default pos">
    <div class="panel-heading">RESIDENTIAL PROJECTS</div>
    <div class="panel-body">
            <div class="panel panel-primary">
                <div class="panel-heading">Mr Wadhwani (Ahmednagar City)</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-md-3 img-pos" id="links" >
                            <a href="{% static "images/wadhwani/1.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                                <img src="{% static "images/wadhwani/1.jpg"%}" alt="img1">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/2.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                                <img src="{% static "images/wadhwani/2.jpg"%}" alt="img2">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/3.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/3.jpg"%}" alt="img3">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/4.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/4.jpg"%}" alt="img4">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/5.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/5.jpg"%}" alt="img5">
                            </a>
                        </div>
                        <div class="col-xs-6 col-md-3 img-pos" id="links">
                            <a href="{% static "images/wadhwani/6.jpg"%}" class="thumbnail" title="Bed Room" data-gallery>
                                <img src="{% static "images/wadhwani/6.jpg"%}" alt="img6">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Mr Santosh Zarkar (Jamkhed)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/1.jpg"%}" class="thumbnail" title="Bed Room" data-gallery> 
                            <img src="{% static "images/zarkar/1.jpg"%}" alt="img4">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/2.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                            <img src="{% static "images/zarkar/2.jpg"%}" alt="img5">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/3.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/3.jpg"%}" alt="img6">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/4.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/4.jpg"%}" alt="img6">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/5.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/5.jpg"%}" alt="img6">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/zarkar/6.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/zarkar/6.jpg"%}" alt="img6">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Mr Saraf (Ahmednagar City)</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/saraf/1.jpg"%}" class="thumbnail" title="Bed Room" data-gallery> 
                            <img src="{% static "images/saraf/1.jpg"%}" alt="img4">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/saraf/2.jpg"%}" class="thumbnail" title="Living Room" data-gallery>
                            <img src="{% static "images/saraf/2.jpg"%}" alt="img5">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 img-pos" id="links">
                        <a href="{% static "images/saraf/3.jpg"%}" class="thumbnail" title="Outside View" data-gallery>
                            <img src="{% static "images/saraf/3.jpg"%}" alt="img6">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endcomment %}
<div class="panel panel-warning pos">
    <div class="panel-heading"><b>THE SERVICES WE OFFER</b></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading"><b>LAYOUT PLANS</b></div>
            <div class="panel-body">
                <p>We design the layout plans from scratch to set the foundation right. It includes</p>
                <p class="cont "><span class="color glyphicon glyphicon-ok"></span> Interior Layout </p>
                <p class="cont "><span class="color glyphicon glyphicon-ok"></span> False Ceiling </p>
                <p class="cont "><span class="color glyphicon glyphicon-ok"></span> Electrical Layout </p>
                <p class="cont "><span class="color glyphicon glyphicon-ok"></span> Flooring Layout </p>
                <p class="cont "><span class="color glyphicon glyphicon-ok"></span> Plumbing Layout </p>
                <p class="cont "><span class="color glyphicon glyphicon-ok"></span> Security Layout (Automation) </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>FURNITURE</b></div>
            <div class="panel-body">
                <p>We conceptualize your furniture design based on schematic themes, giving the space unique furnishing that matches the overall style. It ensures that the furniture is in sync with the designing and makes a style statement too.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>CIVIL CHANGES</b></div>
            <div class="panel-body">
                <P>We undertake re-designing the civil changes wherever required to make the civil planning compatible with the building design, keeping in mind the convenience of usage.</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>LANDSCAPE DESIGNING</b></div>
            <div class="panel-body">
                <p>We provide sustainable landscape designing that suit your needs and at the same time provide utility and elegance. We take up landscape designing exclusively for bigger projects that we work on</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><b>VASTU CONSULTANCY</b></div>
            <div class="panel-body">
                <p>Vaastu shastra elaborates the basic sense of designing the architecture of buildings and specific areas of a building such as rooms, fenestrations, gates etc. The motive of vastu shastra is to enhance the well being of the occupants . It primarily instructs how to maintain the best equilibrium of the five elements ( Earth Water, Sun, Air & Space) in a building and to make best use of their effects to energize the metal & physical energies of inhabitants.</p>
            </div>
        </div>
    </div>
</div>
<div class="row welcome-height">
    <span class="cont_title"><i class="glyphicon glyphicon-earphone"></i> &nbsp;+91 8805079719 &nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="cont_title"><i class="glyphicon glyphicon-envelope"></i> &nbsp;globalinteriors14@gmail.com</span>
    <div class="img">
    </div>
</div>

{% endblock %}
