.gi_bg {
    background-image: url('/static/images/gi_white_background.jpg');
}
.nav-bg-color {
    /*background-color: buttonhighlight;*/
    width: 900px;
    margin: auto;
}
.logo_pos {
    height:250%;
    margin-top:-15px;
}
.color {
    color:yellowgreen;
    font-family: Times New Roman;
}
.center {
    text-align: center;
    margin-top: 15px;
}

.center-height {
    height: 500px;
}

.try {
    background: threeddarkshadow;
    color: orange;
}

.msgs {
    text-align:center;
    color: red;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    font-family: New Times Roman;
    font-style: italic;
    font-size: 12px;
}

.cont_title {
    color: maroon;
    font-family: New Times Roman;
    font-style: italic;
}

.home_empty_div {
    margin-top:12%;
}

.pos {
    width: 900px;
    margin: auto;
    margin-top:25px;
}

.foot_text {
    margin-right: 225px !important;
}
.drop-cursor {
    cursor: pointer;
}
.img-pos {
    width: 150px;
    height: 130px;
    overflow: hidden;
}
.font {
    font-family: New Times Roman;
}

.div-top {
    margin-top: 10px;
}

.img-size {
    width: 180px;
    height: 150px;
}

.home_inner {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 85px;
    z-index: 2000;
}
.home {
    background: none repeat scroll 0 0 #eee;
    height: 100%;
    left: 0;
    opacity: 0.3;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
    z-index: 1000;
}
