.gi_bg {
    background-image: url('/static/images/gi_bg4.jpg');
}
.nav-bg-color {
    /*background-color: buttonhighlight;*/
    width: 900px;
    margin: auto;
}
.logo_pos {
    height:250%;
    margin-top:-15px;
}
.color {
    color:yellowgreen;
    font-family: Times New Roman;
}
.center {
    text-align: center;
    margin-top: 15px;
}

.center-height {
    height: 500px;
}

.try {
    background: threeddarkshadow;
    color: orange;
}

.msgs {
    text-align:center;
    color: red;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    font-family: New Times Roman;
    font-style: italic;
    font-size: 12px;
}

.cont_title {
    color: maroon;
    font-family: New Times Roman;
    font-style: italic;
}

.home_empty_div {
    margin-top:12%;
}

.pos {
    width: 900px;
    margin: auto;
    margin-top:25px;
}
.footer_home {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    margin-top: 24%;
}

.footer_contact {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100%;
    left: 0px;
    margin-top: 16%;
}
.foot_text {
    float: right;
}
.footer-bgc{
    width: 900px;
    margin: auto;
}
.footer-line {
    background-color: Threedshadow;
    height: 2px;
}

