.nav-bg-color {
    background-color: buttonhighlight;
}

.logo_pos {
    height:180%;
    padding-left:20%;
}

.logo_name {
    margin-left: -50px;
    margin-top: 20px;
    position: absolute;
    color:cornflowerblue;
    font-size: 20px;
    font-family: Times New Roman;
}

.tab_name1 {
    margin-left: 250px;
    margin-top: 10px;
    position: absolute;
}

.try {
    background: threeddarkshadow;
    color: orange;
}

.tab_name {
    margin-left: 50px;
    margin-top: 10px;
    position: absolute;
}

.gi_bg {
    background-image: url('/static/images/gi_bg4.jpg')
}

.msgs {
    text-align:center;
    color: red;
}

.img_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cont {
    font-family: New Times Roman;
    font-style: italic;
    font-size: 12px;
}

.cont_title {
    color: maroon;
    font-family: New Times Roman;
    font-style: italic;
}

.footer {
    position: fixed;
    margin-top: 18%;
}

.foot_text {
    float: right;
    margin-right:8%;
}
